*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(180deg, rgb(0,0,0,0.1), rgb(0,0,0,0.1)), url("images/DSC_5046.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cover{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center ;
}

.App-header{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 60px;
}

.badge-success{
  border-radius: 2px;
}

.search-input{
  width: 400px;
  text-align: center;
  height: 5vh;
  margin-top: 30px;
  border: 2px black solid;
  border-radius: 5px;
  margin-right: 10px;
}

.fa-search{
  font-size: larger;
  padding-bottom: 6px;
}

.footer{
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 15px 0px 15px 0px;
}

.footer p{
  font-size: medium;
  font-weight: bold;
  margin: 0;
}

.record{
  background-color: white;
  width: 50%;
  margin-top: 30px;
  border: 2px black solid;
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
}

.record .sup{
  border-radius: 2px;
  margin-left: 5px;
  padding: 0px 3px 0px 3px;
}


@media screen and (max-width:414px){
  body{
    background-image: linear-gradient(180deg, rgb(0,0,0,0.1), rgb(0,0,0,0.1)), url("images/mobile.jpg");
    padding: 0px 10px 0px 10px;
  }

  .search-input{
    width: 280px;
    margin-right: 0px;
    margin-bottom: 5px;
  }

  .record{
    width: 80%;
    padding: 10px 10px 5px 10px;
  }
  
  .App-header{
    padding: 20px;
  }

  .App-header h1{
    font-size: large;
  }
}